h1,
p {
    font-family: Lato;
}

.center {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-left: 10px;
}

.todo {
    width: 98%;
    margin: 5px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: white;
}

.filter {
    text-align: center;
}

.done {
    opacity: 0.5;
}

.todo p {
    margin: 0;
}

i {
    cursor: pointer;
}

.todo-list {
    width: 40%;
    margin: auto;
    max-height: 22em;
    overflow-y: auto;
    padding: 10px;
}

.options i {
    padding: 5px;
}

.done {
    opacity: .5;
    box-shadow: none;
    border: 1px solid rgb(197, 197, 197);
}

.todo-input {
    margin-right: 5px;
}

.form div {
    width: 100%;
    margin-bottom: 10px;
    /* margin-right: 10px; */
}

.form .btn {
    height: 40px;
    width: 80px;
}

.high {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.medium {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.low {
    background-color: #5bc0de;
    border-color: #46b8da;
}